<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Tutorial</title>
</head>

<body>
    <a id="create-button" href="{% url 'create' %}">Create organization</a>
    <table>
        <tbody>
            {% for organization in organizations %}
                <tr>
                    <td>{{ organization.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No organizations</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>